<figure class="card">
          <div class="card-emoji">{%IMAGE%}</div>
          <div class="card-title-container">
            <h2 class="card-title">{%PRODUCT_NAME%}</h2>
          </div>
          <div class="card-details">
            <div class="card-detail-box {%ORGANİC%}">
              <h6 class="card-detail card-detail-organic">Organik 🌱</h6>
            </div>
            <div class="card-detail-box">
              <h6 class="card-detail-quantity">{%QUANTİTY%}</h6>
            </div>

            <div class="card-detail-box">
              <h6 class="card-detail-price">{%PRİCE%}</h6>
            </div>
          </div>
          <a href="/product?id={%ID%}" class="card-link">
            <span> ➜ 🛒 sepete ekle</span>
          </a>
        </figure>
      </div>
    </div>